* {
  box-sizing: border-box;
  max-width: 600px;
  font-family: montserrat;
}

.headline {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #6a1cc3;
  padding-top: 2rem;
  color: #fbfbfb;
  align-items: center;
}

.main-heading {
  font-size: 1.5rem;
}

.students {
  padding-left: 1.5rem;
  color: #6a1cc3;
  font-size: 2em;
  padding-bottom: 0rem;
  margin: 0;
  margin-top: 2rem;
}

.fellow {
  padding-left: 1.5rem;
  padding-top: 0;
  margin-top: 0;
  font-family: montserrat;
}

.search {
  border: 5px #6a1cc3;
  outline: 3px #6a1cc3;
}

form {
  all: unset;
  _background-color: #4654e1;
  width: 95%;
  height: 36px;
  font: 1.5rem Source Sans Pro;
  display: flex;
  justify-content: stretch;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

input {
  width: 550px;
  border-color: #6a1cc3;
}

::placeholder {
  color: #4b148a61;
  opacity: 0.7;
  font-size: 1.5rem;
}

button {
  all: unset;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 13.75rem;
  left: 530px;
  fill: #6a1cc3;
}
